<div class="container">
  <div class="row">
  	<div class="col">
		<%= f.fields_for :core do |b| %>
			<p>
				<%= b.label :trunk_extension %></br>
				<%= b.number_field :trunk_extension, required: true, class: "form-control" %>
			</p>

		<% end %>
	</div>
</div>
</div>